.favs{
  background-color:lightgoldenrodyellow;
  border-bottom: 2px solid #822000;
  max-width: 70vw;
  border-radius: 10px;
  padding: 2rem;
  margin: 2rem;
  box-shadow: 0 0 0.2rem 0.2rem #822000;
}
.all-favs {
  background-color:lightgoldenrodyellow;
  border-bottom: 2px solid #822000;
  max-width: 70vw;
  border-radius: 10px;
  padding: 2rem;
  margin: 2rem;
  box-shadow: 0 0 0.2rem 0.2rem #822000;
}

.fav-text > a {
  color:#822000;
}
