.nav {
  background-color: #360000;
  width: 100%;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color:black;
}

.nav :hover,
.dropdown:hover  {
  background-color: lightgoldenrodyellow;
  color: #360000;
  transform: scale(1.2);
}

a, 
button {
  text-decoration: none;
  transform: scale(1);
  color:rgb(250, 250, 218);
}

.active {
  transform: scale(1.4);
  font-weight: bold;
  color:lightgoldenrodyellow;
}

@media screen and (max-width: 760px) {
  .nav {
   flex-wrap: wrap;
   margin: auto;
   overflow: hidden;
   position: relative;
  }
  .nav>* {
    flex: 1 1 10rem;
  }
  a {
    padding: 0.1rem;
    margin: 0.2rem;
  }
}